# Big Query Basics

A Tutorial to use Big Query

- Load csv from local and write a example Table to Big Query

In [3]:
import pandas as pd
from google.cloud import bigquery

## 1. Read example data(csv)

In [4]:
csv_file = "lending_club_loan_two_data.csv"
df = pd.read_csv(csv_file)
df.head()

,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,...,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,application_type,mort_acc,pub_rec_bankruptcies,address
0,72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6000,36 months,8.00,188.02,A,A3,KS construction,10+ years,OTHER,160000.0,...,6.0,0.0,3713.0,22.8,13.0,f,INDIVIDUAL,NaN,0.0,"77917 David Park\r\nCynthiashire, SC 00813"
2,23575,36 months,14.50,640.24,E,E2,Cleveland Country Club,3 years,RENT,75000.0,...,10.0,0.0,32682.0,96.1,26.0,f,INDIVIDUAL,NaN,0.0,"07378 Daugherty Crossroad\r\nNorth Janicebury,..."
3,8400,36 months,14.50,289.14,E,E2,Department of Corrections,< 1 year,RENT,50000.0,...,10.0,0.0,19056.0,69.0,10.0,f,INDIVIDUAL,NaN,0.0,"4573 Marquez Center Apt. 541\r\nNew Melissa, I..."
4,24000,36 months,16.08,492.76,F,F2,U.S. Federal Government,10+ years,MORTGAGE,105900.0,...,21.0,0.0,33627.0,74.7,61.0,f,INDIVIDUAL,NaN,0.0,"PSC 3158, Box 6288\r\nAPO AE 48052"

## 2. Create a Big Query client

Create a client to connect with Big Query

In [5]:
client = bigquery.Client(location="US")
print("Client creating using default project: {}".format(client.project))

Client creating using default project: cdcda-lab

## 3. Create a new dataset

In [ ]:
# Define a name for the new dataset.
dataset_id = 'lending_club_loan_two'

# The project defaults to the Client's project if not specified.
dataset = client.create_dataset(dataset_id)  # API request

## 4. Write table into dataset

In [ ]:
table_ref = dataset.table("lending_club_loan_two_data")
job = client.load_table_from_dataframe(df, table_ref, location="US")

job.result()  # Waits for table load to complete.
print("Loaded dataframe to {}".format(table_ref.path))